.formContainer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    /* 屏幕中间显示 */
    transform: translate(-50%, -50%);
    padding: 20px;
    /* text-align: center; */
    z-index: 100;
}

.logintitle {
    color: white;
    font-size: 30px;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.ant-input {
    /* 背景色透明(重点) */
    background: transparent;
    color: white;
}

/* 重点 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 111111s;
    -webkit-transition: color 11111s ease-out,
        background-color 111111s ease-out;
}